<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.passwordmaker.android" android:versionCode="11" android:versionName="1.1.11">
    <uses-sdk android:minSdkVersion="9" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:allowBackup="true" android:allowClearUserData="true">


        <receiver android:name="plugins.jacoco.SMSInstrumentedReceiver">
            <intent-filter>
                <action android:name="edu.gatech.m3.emma.COLLECT_COVERAGE" />
            </intent-filter>
        </receiver>
        <receiver android:name="plugins.dataflow.DataFlowAnalysis">
            <intent-filter>
                <action android:name="edu.dhu.cs.816space" />
            </intent-filter>
        </receiver>

        <activity android:name=".PasswordMakerProForAndroidActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:label="Open In PWMP">
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity android:name=".PasswordMakerEditProfile"
            android:label="@string/ChangeProfile">
        </activity>
        <activity android:name=".PasswordMakerEditFavorites"
            android:label="@string/EditFavorites">
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
</manifest>